/* 공통 스타일 */
body {
    font-family: 'East Sea Dokdo', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이에 해당하는 값을 사용합니다. */
}

.project {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px; /* 내부 여백 늘림 */
    width: 90%; /* 화면 너비의 90%를 사용합니다. */
    max-width: 600px; /* 최대 너비 설정 */
    display: flex; /* 내용들을 가운데에 배치하기 위해 flex 사용 */
    flex-direction: column; /* 세로 방향으로 배치 */
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
}

.project img {
    max-width: 70%; /* 이미지가 컨테이너의 너비에 맞게 조정됩니다. */
    height: auto; /* 비율 유지를 위해 자동으로 높이가 조정됩니다. */
    border-radius: 40px; /* 이미지에도 둥근 모서리를 적용합니다. */
    margin-bottom: 20px; /* 이미지 아래 여백을 추가합니다. */
}

.details {
    text-align: center;
    margin-bottom: 20px; /* 내용 아래 여백을 추가합니다. */
}

.info-row {
    margin-bottom: 20px; /* 각 정보 행 아래 여백을 추가합니다. */
}

.info-label {
    font-weight: bold;
    font-size: 1.4em; /* 라벨의 글꼴 크기를 더 크게 설정 */
    color: #353535; /* 라벨의 색상을 변경 */
}

.info-value {
    color: #7B68EE;
    font-size: 1.6em; /* 값의 글꼴 크기를 더 크게 설정 */
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 40px; /* 버튼 상단 여백을 더 늘립니다. */
}

.button {
    background-color: #7B68EE;
    color:#fff;
    border: none;
    border-radius: 15px;
    padding: 15px 30px; /* 버튼 내부 여백을 늘립니다. */
    margin: 0 10px; /* 버튼 간격을 조정합니다. */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.4em; /* 버튼의 글꼴 크기를 더 크게 설정 */
    font-family: 'East Sea Dokdo', sans-serif;
}

.button:hover {
    background-color: #255580;
}
