@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

.east-sea-dokdo-regular {
    font-family: "East Sea Dokdo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: #a97bf5; /* 글 색상 */	
    font-family: 'east-sea-dokdo-regular'; /* East Sea Dokdo 폰트 적용 */
}

/* 나머지 스타일 규칙들 */
#wrap {
    width: 971px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    line-height: 24px;
}

table td, th {
    border: 1px solid #d3d3d3;
    padding: 5px;
}

th {
    background: yellowgreen;
}

img {
    max-width: 150px; /* 로고 이미지 최대 너비 설정 */
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: rgb(208, 112, 251);
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(33.33% - 10px); /* 3개씩 나열되도록 폭 조정 */
    margin-bottom: 20px;
}

.product-info {
    text-align: center;
}

.product-price {
    text-align: center;
}

#header {
    overflow: hidden; /* 자식 요소의 특정 요소가 부모 요소의 너비를 벗어나면, 넘치는 요소를 숨김 처리 */
    background-color: #f8f9fa; /* 배경색 설정 */
    padding: 20px; /* 내부 여백 설정 */
    border-bottom: 1px solid #e9ecef; /* 상단바 하단에 구분선 추가 */
}

#header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right; /* 우측 정렬 */
}

#header ul li {
    display: inline;
    margin-right: 20px; /* 각 항목 사이의 간격 조정 */
    font-size: 16px; /* 폰트 크기 설정 */
    font-weight: bold; /* 폰트 굵기 설정 */
}

#header .user-info {
    display: inline; /* 인라인 요소로 설정하여 다른 요소와 함께 표시 */
    font-size: 16px; /* 폰트 크기 설정 */
    font-weight: bold; /* 폰트 굵기 설정 */
    color: #6c757d; /* 글자색 설정 */
    margin-right: 20px; /* 오른쪽 여백 설정 */
}
